<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Manage Registration</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'administrator/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'administrator/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'administrator/css/admin.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'adminhome' %}">Learning Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminhome' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admincourses' %}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admininstructors' %}">Instructors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminstudents' %}">Students</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>
  <br>
  <h2 class='text-center text-info'>Manage Registration</h2>

  <!-- Page Content -->
  <div class="container bg-info rounded shadow-lg">
      <br>
    {% for reg in registrations %}
    <div class="row">
      <div class="col">
        <div class="card h-80">
          <div class="card-body">
            <h4 class="card-title">Priority {{ reg.priority }}</h4>
            <h5 class="card-title">Year {{ reg.year }}</h5>
            <hr>
            <p class="card-text">Open at: {{ reg.open_time }}</p>
            <p class="card-text">Close at: {{ reg.close_time }}r</p>
          </div>
          <div class="card-footer">
            <h4 class="card-title">Edit</h4>
          	<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
	            <input type="hidden" name="regId" value={{reg.registrationid}}>
	            <div class="form-group">
	              <label for="openAt">Open at:</label>
	  			  <input type="datetime-local" class="form-control" id="openAt" name="openAt">
	            </div>
	            <div class="form-group">
	              <label for="closeAt">Close at:</label>
	  			  <input type="datetime-local" class="form-control" id="closeAt" name="closeAt">
	            </div>
	            <button type="submit" class="btn btn-success">Save Changes</button>
          	</form>
          </div>
        </div>
      </div>
    </div>
      <br>
    {% endfor %}
      <br>
  </div>
  

  <br>
  <br>
  <!-- Footer -->
  <footer class="py-5 bg-info">
    <div class="container text-center">
      <a href="https://nu.edu.kz/" target="_blank" class="text-white">2020 Nazarbayev University</a>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'administrator/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'administrator/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
