<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Edit Section</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'administrator/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'administrator/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'administrator/css/admin.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'adminhome' %}">Learning Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminhome' %}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'admincourses' %}">Courses
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admininstructors' %}">Instructors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminstudents' %}">Students</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>
  <br>
  <h2 class='text-center text-info'>Edit Section</h2>

  <!-- Page Content -->
  <div class="container bg-info rounded shadow-lg">
      <br>
    <div class="row">
      <div class="col">

        <div class="card h-80">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="new-content" value="student">

              <div class="form-group">
                <label for="formGroupExampleInput">Type</label>
                <input type="text" class="form-control"  name="num_type" placeholder="Type" value='{{section.num_type}}' required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">Room</label>
                <input type="text" class="form-control" name="room" placeholder="Room" value='{{section.room}}' required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Semester</label>
                <select class="form-control" name="semester" required>
                  <option value='{{section.semester}}' selected>{{section.semester}}</option>
                  <option value="Fall">Fall</option>
                  <option value="Spring">Spring</option>
                  <option value="Summer">Summer</option>
                </select>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">Year</label>
                <input type="number" class="form-control" name="year" placeholder="Year" value='{{section.year}}' required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">Capacity</label>
                <input type="number" class="form-control" name="capacity" placeholder="Capacity" value='{{section.capacity}}' required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

               <div class="form-group">
                <label for="formGroupExampleInput">Total Points</label>
                <input type="number" class="form-control" name="total_points" placeholder="Total Points" value='{{section.total_points}}' required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">Start Time</label>
                <input type="time" class="form-control" name="start_time" value='{{start}}'required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">End Time</label>
                <input type="time" class="form-control" name="end_time" value='{{end}}' required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">Days</label><br>
                {% if '1' in days%}
                <input type="checkbox" name="mn" checked> Monday 
                {% else %}
                <input type="checkbox" name="mn"> Monday
                {% endif %} 

                {% if '2' in days%}
                <input type="checkbox" name="tu" checked> Tuesday 
                {% else %}
                <input type="checkbox" name="tu"> Tuesday 
                {% endif %} 

                {% if '3' in days%}
                <input type="checkbox" name="wd" checked> Wednesday 
                {% else %}
                <input type="checkbox" name="wd"> Wednesday 
                {% endif %} 

                {% if '4' in days%}
                <input type="checkbox" name="th" checked> Thursday 
                {% else %}
                <input type="checkbox" name="th"> Thursday 
                {% endif %} 

                {% if '5' in days%}
                <input type="checkbox" name="fr" checked> Friday 
                {% else %}
                <input type="checkbox" name="fr"> Friday 
                {% endif %} 

                {% if '6' in days%}
                <input type="checkbox" name="st" checked> Saturday 
                {% else %}
                <input type="checkbox" name="st"> Saturday 
                {% endif %} 

              </div>

          </div>
          <div class="card-footer text-right">
            <button type="submit" class="btn btn-success">Save</button>
            </form>
          </div>
        </div>

      </div>
    </div>
      <br>
  </div>
  

  <br>
  <br>
  <!-- Footer -->
  <footer class="py-5 bg-info">
    <div class="container text-center">
      <a href="https://nu.edu.kz/" target="_blank" class="text-white">2020 Nazarbayev University</a>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'administrator/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'administrator/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>
