<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Edit Student</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'administrator/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'administrator/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'administrator/css/admin.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'adminhome' %}">Learning Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adminhome' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admincourses' %}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admininstructors' %}">Instructors</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'adminstudents' %}">Students
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>
  <br>
  <h2 class='text-center text-info'>Edit Student</h2>

  <!-- Page Content -->
  <div class="container bg-info rounded shadow-lg">
      <br>
    <div class="row">
      <div class="col">

        <div class="card h-80">
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="new-content" value="instructor">

              <div class="form-group">
                <label for="formGroupExampleInput">First Name</label>
                <input type="text" class="form-control"  name="first_name" placeholder="First Name" value="{{user.first_name}}" required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{user.last_name}}" required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email" value="{{user.email}}" required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="formGroupExampleInput">Password</label>
                <input type="text" class="form-control" name="password" placeholder="Password" value="{{user.password}}" required>
                <div class="invalid-feedback">
                  Please fill out this field.
                </div>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Gender</label>
                <select class="form-control" name="gender" required>
                  <option value='{{user.gender}}' selected>{{user.gender}}</option>
                  <option value="male">male</option>
                  <option value="female">female</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Department</label>
                <select class="form-control" name="department" required>
                  <option value="{{ user.department_name.name }}" selected>{{user.department_name.name}}</option>
                  {% for dep in departments %}
                  <option value="{{ dep.name }}">{{ dep.name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Level</label>
                <select class="form-control" name="level" required>
                  <option value="{{student.level}}" selected>{{student.level}}</option>
                  <option value="Foundation">Foundation</option>
                  <option value="Undegraduate">Undergraduate</option>
                  <option value="Graduate">Graduate</option>
                  <option value="Phd">Phd</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Year of Study</label>
                <select class="form-control" name="year_of_study" required>
                  <option value="{{student.year_of_study}}" selected>{{student.year_of_study}}</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Academic Status</label>
                <select class="form-control" name="academic_status" required>
                  <optgroup value="{{student.academic_status}}">{{student.academic_status}}</optgroup>
                  <option value="Good">Good</option>
                  <option value="Probation">Probation</option>
                </select>
              </div>

          </div>
          <div class="card-footer text-right">
            <button type="submit" class="btn btn-success">Save</button>
            </form>
          </div>
        </div>

      </div>
    </div>
      <br>
  </div>
  

  <br>
  <br>
  <!-- Footer -->
  <footer class="py-5 bg-info">
    <div class="container text-center">
      <a href="https://nu.edu.kz/" target="_blank" class="text-white">2020 Nazarbayev University</a>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'administrator/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'administrator/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>
