.idea
senior_project/config.json
administrator/__pycache__
administrator/migrations/__pycache__
alldata/__pycache__
alldata/migrations/__pycache__
login_system/__pycache__
login_system/migrations/__pycache__
senior_project/__pycache__
etc
