<!DOCTYPE html><!DOCTYPE html>
<html lang="en" style="margin-bottom: 0px;padding-bottom: 0px;">
  {% load static %}
<head>
  <link rel="icon" href="/media/nu_logo.jpg">
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155182390-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155182390-3');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Challenges</title>

  <!-- Bootstrap core CSS -->
  
  <link href="{% static 'challenges/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{% static 'challenges/css/shop-homepage.css' %}" rel="stylesheet">
</head>

<body style="margin-bottom: 0px;padding-bottom: 0px;">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" style="margin-bottom: 0px;padding-bottom: 0px;">
    
      <a class="navbar-brand" href="#">Psychological Counseling Center</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/challenges/">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Self analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Articles</a>
            <span class="sr-only">(current)</span>
          </li>
        </ul>
      </div>
    
  </nav>
  <br>
  <br>
  <br>

  <h2 class='text-center text-info'>Do a deep breathing exercise.</h2>

  <!-- Page Content -->
  <div class="container bg-info rounded shadow-lg">
      <br>
      <div class="card h-100">
        <img class="card-img-top" style="height:500px;" src="{% static 'challenges/media/breath.jpg' %}" alt="">
        <div class="card-body">
          <p class="card-text text-center">Breathing exercises can help you relax, because they make your body feel like it does when you are already relaxed. Deep breathing is one of the best ways to lower stress in the body. This is because when you breathe deeply, it sends a message to your brain to calm down and relax.</p>
          <iframe width="1050" height="700" class ='text-center' src="https://www.youtube.com/embed/Wemm-i6XHr8">
          </iframe>
        </div>
      </div>
      <br>
  </div>
  <!-- /.container -->
  

  <br>
  <br>

  <!-- Footer -->
  <footer class="py-5 bg-info">
    <div class="container">
      <p class="m-0 text-center text-white">Keep Calm and Be Happy!</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'challenges/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'challenges/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>


