<!DOCTYPE html>
<html lang="en" style="margin-bottom: 0px;padding-bottom: 0px;">
  {% load static %}
<head>
  <link rel="icon" href="/media/nu_logo.jpg">
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155182390-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155182390-3');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NU PCC Article</title>

  <!-- Bootstrap core CSS -->
  
  <link href="{% static 'login_system/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  
  <!-- Custom styles for this template -->
  <link href="{% static 'login_system/css/shop-homepage.css' %}" rel="stylesheet">
</head>

<body style="margin-bottom: 0px;padding-bottom: 0px;">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" style="margin-bottom: 0px;padding-bottom: 0px;">
    
      <a class="navbar-brand" href="#">Psychological Counseling Center</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Self analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Articles</a>
            <span class="sr-only">(current)</span>
          </li>
        </ul>
      </div>
    
  </nav>



        <div class="row" style="padding-top: 40px;padding-bottom: 0px;margin-bottom: 0px;">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-80">
              <a href="#"><img class="card-img-top" src="/media/1.jpeg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Deep Learning</a>
                </h4>
                <p class="card-text">Homework3: is due 23.10.2020</p>
              </div>
              <div class="card-footer">
                <p class="card-text">Current Grade: 57/60</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-80">
              <a href="#"><img class="card-img-top" src="/media/2.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Senior Project</a>
                </h4>
                <p class="card-text">Interim Report: is due 14.10.2020</p>
              </div>
              <div class="card-footer">
                <p class="card-text">Current Grade: 20/20</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-80">
              <a href="#"><img class="card-img-top" src="/media/3.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Astronomy</a>
                </h4>
                <p class="card-text">Homework8: is due 18.10.2020</p>
              </div>
              <div class="card-footer">
                <p class="card-text">Current Grade: 50/63</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-80">
              <a href="#"><img class="card-img-top" src="/media/1.jpeg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Deep Learning</a>
                </h4>
                <p class="card-text">Homework3: is due 23.10.2020</p>
              </div>
              <div class="card-footer">
                <p class="card-text">Current Grade: 57/60</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-80">
              <a href="#"><img class="card-img-top" src="/media/2.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Senior Project</a>
                </h4>
                <p class="card-text">Interim Report: is due 14.10.2020</p>
              </div>
              <div class="card-footer">
                <p class="card-text">Current Grade: 20/20</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-80">
              <a href="#"><img class="card-img-top" src="/media/3.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Astronomy</a>
                </h4>
                <p class="card-text">Homework8: is due 18.10.2020</p>
              </div>
              <div class="card-footer">
                <p class="card-text">Current Grade: 50/63</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->





  <!-- Footer -->
  <footer class="py-5 bg-info" style="padding-bottom: 0px;margin-bottom: 0px;">
    <div class="container">
      <p class="m-0 text-center text-white">Keep Calm and Be Happy!</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  
  <script src="{% static 'login_system/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'login_system//vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
