<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
 	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155182390-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-155182390-3');
	</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ course.course_code}}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'coursepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'coursepage/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'coursepage/css/admin.css' %}" rel="stylesheet">
  <script>

  </script>
</head>

<body>
	{% include 'login_system/nav.html' %}
    <br>
  <button type="button" class="btn btn-info"><a href="#courseMenu" data-toggle="modal" class='text-white'>Course Menu</a></button>
    <a href="/announcements/{{ course_section.sectionid }}" style="color:black;">
    <button type="button" class="btn btn-warning btn-lg btn3d">
        Announcements
    </button>
    </a>
    {% if session.role == "instructor" %}
         <a href="/assignments/{{ course_section.sectionid }}" style="color:black;">
  <button type="button" class="btn btn-success btn-lg btn3d">
       Submissions
  </button>
         </a>
    {% endif %}
  <br>
  <h2 class='text-center'>{{ course.title }}</h2>
  <div class="modal fade" id="courseMenu" tabindex="-1" role="dialog" aria-labelledby="chooseUserCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="chooseUserLongTitle">{{ course.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <button type="button" class="btn btn-success"><a href="/grades" class='text-white'>Grades</a></button>
          <button type="button" class="btn btn-success"><a href="/participants/{{ course_section.sectionid }}" class='text-white'>Participants</a></button>
        </div>
        <div class="modal-footer">
          <a href="#" class='text-info' data-dismiss="modal" aria-label="Close">cancel</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addContent" tabindex="-1" role="dialog" aria-labelledby="chooseUserCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="chooseUserLongTitle">What do you want to add?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <button type="button" class="btn btn-success"><a href="#addFile" data-toggle="modal" class='text-white'>File</a></button>
          <button type="button" class="btn btn-success"><a href="#addAssigment" data-toggle="modal" class='text-white'>Assignment</a></button>
          <button type="button" class="btn btn-success"><a href="#addQuiz" data-toggle="modal" class='text-white'>Quiz</a></button>
        </div>
        <div class="modal-footer">
          <a href="#" class='text-info' data-dismiss="modal" aria-label="Close">cancel</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addFile" tabindex="-1" role="dialog" aria-labelledby="chooseUserCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="chooseUserLongTitle">Add New File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="new-content" value="myFile">
            <input type="hidden" id="moduleID_F" name="moduleID" value="">
            <div class="form-group">
              <label for="formGroupExampleInput">Description</label>
              <input type="text" class="form-control" name="desc" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">File</label>
              <input type="file"  name="filename">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class='text-info' data-dismiss="modal" aria-label="Close">cancel</a>
        </div>
      </div>
    </div>
   </div>

   <div class="modal fade" id="addAssigment" tabindex="-1" role="dialog" aria-labelledby="chooseUserCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="chooseUserLongTitle">Add New Assignment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="new-content" value="ass">
            <input type="hidden" id="moduleID_A" name="moduleID" value="">
            <div class="form-group">
              <label for="formGroupExampleInput">Title</label>
              <input type="text" class="form-control" name="name" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Description</label>
              <input type="text" class="form-control" name="description" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Start Time</label>
              <input type="date" name="startDate">
              <input type="time" name="startTime">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">End Time</label>
              <input type="date" name="endDate">
              <input type="time" name="endTime">
            </div>
            <div class="form-group">
              <span>Max Points</span><input type="number" name="maxPoint">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class='text-info' data-dismiss="modal" aria-label="Close">cancel</a>
        </div>
      </div>
    </div>
   </div>

   <div class="modal fade" id="addQuiz" tabindex="-1" role="dialog" aria-labelledby="chooseUserCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="chooseUserLongTitle">Add New Quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="new-content" value="quiz">
            <input type="hidden" id="moduleID" name="moduleID" value="">
            <div class="form-group">
              <label for="formGroupExampleInput">Title</label>
              <input type="text" class="form-control"  name="title" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Description</label>
              <input type="text" class="form-control" name="desc" placeholder="Description">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">Start Time</label>
              <input type="date" name="startDate">
              <input type="time" name="startTime">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">End Time</label>
              <input type="date" name="endDate">
              <input type="time" name="endTime">
            </div>
            <div class="form-group">
              <span>Time Limit:</span><input type="number" name="limit"><br>
              <span>Max Points</span><input type="number" name="maxPoint">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class='text-info' data-dismiss="modal" aria-label="Close">cancel</a>
        </div>
      </div>
    </div>
   </div>

  <div class="modal fade" id="addModule" tabindex="-1" role="dialog" aria-labelledby="chooseUserCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="chooseUserLongTitle">Add New Module</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="new-content" value="content">
            <input type="hidden" name="section" value={{course_section.sectionid}}>
            <div class="form-group">
              <label for="formGroupExampleInput">Title</label>
              <input type="text" class="form-control" name="name" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Order</label>
              <input type="number" class="form-control" name="order" placeholder="Week number">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <a href="#" class='text-info' data-dismiss="modal" aria-label="Close">cancel</a>
        </div>
      </div>
    </div>
   </div>


  <div class="container">
    

    {% for temp in list %}
      <br>
      <div class="row">
        <div class="col">
          <div class="card h-80 rounded shadow">
            <div class="card-body">
              <h2 class="card-title text-center">{{ temp.cModule.title }}</h2>
              <hr>
              <input type="hidden" id = "mod_{{ forloop.counter }}" name="moduleID" value={{temp.cModule.moduleid}}>
              {% if temp.ass %}
              <hr/>
              <h3>Assignments</h3>
              <hr>
              {% endif%}
              {% for ass in temp.ass %}
                <h5>{{ass.name}}</h5>
                <h5>{{ass.description}}</h5>
                <h5>Start Date: {{ass.start_date}}</h5>
                <h5>End Date: {{ass.due_date}}</h5>
                <h5>Max Points: {{ass.max_point}}</h5>
                {% if session.role == "student" %}
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="student-upload-ass" value="yes">
                    <input type="hidden" name="assID" value={{ass.assignmentid}}>
                    <input type="file"  name="filename">
                    <input type="submit" value="Submit">
                  </form>
                {% endif%}
                {% if session.role == "instructor" %}
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="assID" value="{{ass.assignmentid}}">
                    <input type="hidden" name="delete" value="ass">
                    <input type="submit" value="Delete Assignment">
                  </form>
                {% endif%}
                <hr>
              {% endfor %}
              {% if temp.quiz %}
              <hr/>
              <h3>Quizzes</h3>
              <hr>
              {% endif%}
              {% for quiz in temp.quiz %}
                <h5>{{quiz.name}}</h5>
                <h5>{{quiz.description}}</h5>
                <h5>Start Date: {{quiz.open_time}}</h5>
                <h5>End Date: {{quiz.close_time}}</h5>
                <h5>Time Limit: {{quiz.time_limit}}</h5>
                <h5>Max points: {{quiz.max_point}}</h5>
                {% if session.role == "instructor" %}
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="quizID" value="{{quiz.quizid}}">
                    <input type="hidden" name="delete" value="quiz">
                    <input type="submit" value="Delete Quiz">
                  </form>
                {% endif%}
                <hr>
              {% endfor %}
              {% if temp.myFile %}
              <hr>
              <h3>Files</h3>
              <hr>
              {% endif%}
              {% for file in temp.myFile %}
              	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-medical-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 4.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L7 6l-.549.317a.5.5 0 1 0 .5.866l.549-.317V7.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L9 6l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V4.5zM5.5 9a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/></svg>
                <a target="_blank" href="{{ file.myFile.url }}">{{ file.myFile }}</a>
                <p>{{file.description}}</p>
                {% if session.role == "instructor" %}
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="fileID" value="{{file.fileid}}">
                    <input type="hidden" name="delete" value="file">
                    <input type="submit" value="Delete File">
                  </form>
                {% endif%}
                <hr>
              {% endfor %}

	            {% if session.role == "instructor" %}
	            <div class="text-right">
	              <a href="#addContent" 
	                onclick="document.getElementById('moduleID').value = document.getElementById('mod_{{ forloop.counter }}').value;document.getElementById('moduleID_A').value = document.getElementById('mod_{{ forloop.counter }}').value;document.getElementById('moduleID_F').value = document.getElementById('mod_{{ forloop.counter }}').value;" 
                  data-toggle="modal" class='text-success'>
                  <button type="button" >Add Content</button>
	              </a>              
	            </div>
	            {% endif %}
            </div>
            
            {% if session.role == "instructor" %}
            <div class="card-footer">
              	<form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="moduleID" value="{{temp.cModule.moduleid}}">
                  <input type="hidden" name="delete" value="module">
                  <input type="submit" value="Delete Module">
                </form>            
            </div>
            {% endif %}

          </div>
        </div>
      </div>
      <br>
    {% endfor %}

    {% if session.role == "instructor" %}
    <div class="text-right">
      
      <a href="#addModule" data-toggle="modal" class='text-white'>
        <button >Add Module</button></a>
    </div>
    {% endif %}  
  </div>
  <!-- /.container -->
  <br>
  <br>
  <!-- Footer -->
  <footer class="py-5 bg-info">
    <div class="container text-center">
      <a href="https://nu.edu.kz/" target="_blank" class="text-white">2020 Nazarbayev University</a>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'coursepage/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'coursepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>
