<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
 <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155182390-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155182390-3');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NU Course List</title>

  <!-- Bootstrap core CSS -->

  <link href="{% static 'login_system/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'login_system/css/shop-homepage.css' %}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Hello, {{ session.name }} {{ session.surname }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'grades' %}">Grades</a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'schedule' %}">Schedule</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
          </li>
        <!--
          <li class="nav-item active">
            <a class="nav-link" href="#">Settings</a>
          </li >
          -->
            <li class="nav-item active">
          {% if session.role  == "student" %}
            <a class="nav-link" href="{% url 'registration' %}">Registration</a>
          {% endif %}
          {% if session.role  == "instructor" %}
            <a class="nav-link" href="/adviseeList">Advisees</a>
          {% endif %}
            </li >
         <li class="nav-item active">
            <a class="nav-link" href="{% url 'documents' %}">Documents</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>





  <!-- Bootstrap core JavaScript -->

  <script src="{% static 'login_system/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'login_system//vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
