<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
 	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155182390-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-155182390-3');
	</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Registration Page</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'coursepage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'coursepage/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'coursepage/css/registration.css' %}" rel="stylesheet">
</head>


<body>
	{% include 'login_system/nav.html' %}
  <br>
  <h3 class="text-center">Registration Page</h3>

  <!-- Search Panel -->
  <div class="container">
    <br>
    <div class="row">
      <div class="col">
        <div class="card rounded">

          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="post_id" value="search">
              <div class="row"> 

                <div class="col"> 
                  <div class="form-group">
                    <label>School</label>
                    <input type="text" class="form-control" name="school" value="{{filters.0}}" placeholder="e.g SEDS">
                  </div>
                  <div class="form-group">
                    <label>Department</label>
                    <input type="text" class="form-control"  name="department" value="{{filters.1}}" placeholder="e.g Computer Science">
                  </div>
                 <div class="form-group">
                    <label>Instructor</label>
                    <input type="text" class="form-control"  name="instructor" value="{{filters.2}}" placeholder="e.g Ben Tyler">
                  </div>
                </div>

                <div class="col"> 
                  <div class="form-group">
                    <label>Course Title</label>
                    <input type="text" class="form-control"  name="course_title" value="{{filters.3}}" placeholder="e.g Senior Project">
                  </div>
                  <div class="form-group">
                    <label>Course Code</label>
                    <input type="text" class="form-control"  name="course_code" value="{{filters.4}}" placeholder="e.g CSCI 409">
                  </div>
                  <div class="form-check">
                    {% if filters.5 == 'on' %}
                      <input type="checkbox" class="form-check-input"  name="show_available" checked>
                    {% else %}
                      <input type="checkbox" class="form-check-input"  name="show_available">
                    {% endif %}
                    <label class="form-check-label">
                      Show available seats only
                    </label>
                  </div>
                  <div class="form-check">
                    {% if filters.6 == 'on' %}
                      <input type="checkbox" class="form-check-input"  name="show_priority" checked>
                    {% else %}
                      <input type="checkbox" class="form-check-input"  name="show_priority">
                    {% endif %}
                    <label class="form-check-label">
                      Show my current priority only
                    </label>
                  </div>
                  <div class="form-check">
                    {% if filters.7 == 'on' %}
                      <input type="checkbox" class="form-check-input"  name="show_all" checked>
                    {% else %}
                      <input type="checkbox" class="form-check-input"  name="show_all">
                    {% endif %}
                    <label class="form-check-label">
                      Show all courses
                    </label>
                  </div>
                </div>
                
              </div>         
          </div>

          <div class="card-footer text-right">
            <button type="submit" class="btn btn-info">Search</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div> 
  <!-- End of Search Panel -->

  <!-- Courses List and Register Course -->
  <div class="container">
    <br>
    <div class="row">

      <!-- Courses List -->
      <div class="col col-lg-7">
        <div class="card rounded overflow-auto" style="height: 500px;">
          <div class="card-body">
            <h5 class="card-title">Courses</h5>
            <hr>
            {% for course in courses %}
            <div class="row">
              <div class="col col-lg-9">
                <p class="cart-text"> <span class="badge badge-danger"> </span> {{ course.course_code }} {{ course.title }}</p>
              </div>
              <div class="col col-lg-3 text-right">
                <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="post_id" value="choose">
                  <input type="hidden" name="school" value="{{filters.0}}">
                  <input type="hidden" name="department" value="{{filters.1}}">
                  <input type="hidden" name="instructor" value="{{filters.2}}" >
                  <input type="hidden" name="course_title" value="{{filters.3}}">
                  <input type="hidden" name="course_code" value="{{filters.4}}">
                  <input type="hidden" name="show_available" value="{{filters.5}}">
                  <input type="hidden" name="show_priority" value="{{filters.6}}">
                  <input type="hidden" name="show_all" value="{{filters.7}}">
                  <input type="hidden" name="chosen_course" value="{{course.courseid}}">
                  <button type="submit" class="btn btn-info">Choose</button>
                </form>
              </div>  
            </div>
            <hr>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- End of Courses List -->

      <!-- Register Course -->
      <div class="col col-lg-5">
        <div class="card rounded" style="height: 500px;">
          <div class="card-body overflow-auto">
            <h5 class="card-title">Course Info</h5>
            <hr>
            {% if isChosen %}
              <p class="card-title">{{ chosen_course.course_code }} {{ chosen_course.title }}</p>
              <hr>
              <p class="card-title">Description:<p>
              <p class="card-text">{{ chosen_course.description }}</p>
              <hr>
              <p class="card-title">Number of Credits: {{ chosen_course.credits }}</p>
              <hr>
              <p class="card-title">Sections</p>
              <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="post_id" value="register">
              <input type="hidden" name="school" value="{{filters.0}}">
              <input type="hidden" name="department" value="{{filters.1}}">
              <input type="hidden" name="instructor" value="{{filters.2}}" >
              <input type="hidden" name="course_title" value="{{filters.3}}">
              <input type="hidden" name="course_code" value="{{filters.4}}">
              <input type="hidden" name="show_available" value="{{filters.5}}">
              <input type="hidden" name="show_priority" value="{{filters.6}}">
              <input type="hidden" name="show_all" value="{{filters.7}}">
              <input type="hidden" name="chosen_course" value="{{chosen_course.courseid}}">
              {% for section in course_sections %}
                <label><input type="radio" name="chosen_section" value="{{ section.sectionid }}" required> {{ section.start_time }} - {{ section.end_time }}</label>
              {% endfor %}
            {% endif %}
          </div>
          
          <div class="card-footer text-right">
            {% if isChosen %}
            <button type="submit" class="btn btn-info">Register Course</button>
            {% else %}
            <button type="submit" class="btn btn-info" disabled>Register Course</button>
            {% endif %}
            </form>
          </div>
        </div>
      </div>
      <!-- End of Register Course -->

    </div>
  </div> 
  <!-- End of Courses List and Register Course -->


  <!-- Schedule -->
  <div class="container">
    <br>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr class="bg-light-gray">
              <th class="text-uppercase">Monday</th>
              <th class="text-uppercase">Tuesday</th>
              <th class="text-uppercase">Wednesday</th>
              <th class="text-uppercase">Thursday</th>
              <th class="text-uppercase">Friday</th>
              <th class="text-uppercase">Saturday</th>
          </tr>
        </thead>
        <tbody>
            {% for ll in les %}
                <tr>
                {% for l in ll %}
                    {% if l %}
                        <td>
                        <a href="/course/{{ l.course_courseid.courseid }}/{{ l.sectionid }}">
                    <span  style="color:Navy" class="padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-black font-size16  xs-font-size13">
                        {{l.course_courseid.title}}</span>
                    <div class="margin-10px-top font-size14">Room: {{l.room}}</div>
                    <div class="font-size13">Start: {{l.start_time}}</div>
                    <div class="font-size13">End: {{l.end_time}}</div>
                     </a>
                        </td>
                     {% else %}
                          <td class="bg-light-gray"></td>
                     {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- End of Schedule -->


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'coursepage/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'coursepage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
